<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SPRING BOOT</title>
<!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/starter-template.css}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body class="conBg">
<div class="container">
	<h2>PROJECT UAS PRAKTIKUM PPBO [KELAS-E]</h2>
	<h3 class="h20">Program CRUD Java with Framework Spring Boot created by</h3>
	<div class="conBg2">
		<ul class="w3-ul w3-card-4">
			 <li class="w3-bar">
				<div class="w3-bar-item">
		        	<span class="w3-large">Ade Nurjaman</span><br>
		        	<span>1187050003</span>
		      	</div>
			</li>
			<li class="w3-bar">
				<div class="w3-bar-item">
		        	<span class="w3-large">Muhammad Fathul Ihsan</span><br>
		        	<span>1187050070</span>
		      	</div>
			</li>
		</ul>
	</div>
	
	
	<div class="container">
		<div class="h22">
		<h4>Features/dependency is using</h4>
			<ul>
				<li>Spring Boot</li>
				<li>Spring Web</li>
				<li>Spring Data JPA</li>
				<li>Thymeleaf</li>
				<li>MySql Driver</li>
				<li>Bootstrap</li>
			</ul>
		</div>
	</div>
	<a href="buku" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Run Apps</a>
</div>

</body>
</html>